@define-mixin textEllipses {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@define-mixin transition $range: all, $time: 0.4s,
	$ease: cubic-bezier(0.25, 0.8, 0.25, 1) {
	transition: $range $time $ease;
}
