@import './_config.pcss';

.logo-telescope {
	background: url('../imgs/ic_telescope.svg') no-repeat center center;
	background-size: 100px;
	margin: auto;
	margin-bottom: 36px;
	height: 100px;
	width: 100px;
}

.error {
	color: red;
}
