trailingComma: es5
printWidth: 80
tabWidth: 2
useTabs: true
semi: true
singleQuote: true
requirePragma: false
overrides:
- files: "*.tsx"
  options:
    semi: false
    bracketSpacing: true
    jsxBracketSameLine: true
    parser: typescript
