<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | Github TeleScope </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        .btn-black {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <script src="/static/build/vendor.bundle.js"></script>
    <script src="/static/build/app.bundle.js"></script>
</body>
</html>